Repository gcoguiec/cds: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{ts,js,cjs,mjs,cts,mts,json,md}": ["prettier --write"],
  "*.{ts,js,cjs,mjs,cts,mts}": ["eslint --fix"],
  "*.{scss,css}": ["stylelint --fix"]
}

ci: Initial configuration.
  .github/workflows/ci.yml
  README.md
  justfile
Due: prettier --write

config(commitlint): Add commitlintrc configuration file.
  .commitlintrc.cjs
  .github/workflows/ci.yml
  .lintstagedrc
  package.json
  packages/cds-constructs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

ci: Add test job to the ci workflow.
  .github/workflows/ci.yml
  justfile
Due: none

docs: Add code of conduct, bare minimal contributing guidelines and security files.
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
Due: prettier --write

ci: Add build job to ci workflow.
  .github/workflows/ci.yml
Due: none

docs: Update README.md.
  .dockerignore
  README.md
  packages/cds-constructs/package.json
  packages/cds-constructs/src/aws/private-s3-bucket.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Add bucket name check and outputs to the private s3 bucket construct.
  .gitignore
  justfile
  packages/cds-constructs/package.json
  packages/cds-constructs/src/aws/index.ts
  packages/cds-constructs/src/aws/private-s3-bucket.spec.ts
  packages/cds-constructs/src/aws/private-s3-bucket.ts
  packages/cds-constructs/src/utils/validation.spec.ts
  packages/cds-constructs/src/utils/validation.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: Update private s3 bucket construct documentation.
  README.md
  packages/cds-constructs/src/aws/private-s3-bucket.ts
Due: prettier --write, eslint --fix

wip: Create the public s3 bucket construct.
  packages/cds-constructs/src/aws/public-s3-bucket.ts
Due: prettier --write, eslint --fix

wip: Add CORS support to the public s3 bucket construct.
  packages/cds-constructs/src/aws/private-s3-bucket.ts
  packages/cds-constructs/src/aws/public-s3-bucket.ts
Due: prettier --write, eslint --fix

wip: Implement forceTLS option on the public bucket construct plus some refactoring.
  package.json
  packages/cds-constructs/package.json
  packages/cds-constructs/rollup.config.ts
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/backend/aws-remote-state.ts
  packages/cds-constructs/src/index.ts
Due: prettier --write, eslint --fix

wip: Add a few specs for public bucket constructs.
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
Due: prettier --write, eslint --fix

Public S3 bucket reusable construct (#1)
  package.json
  packages/cds-constructs/package.json
  packages/cds-constructs/rollup.config.ts
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/backend/aws-remote-state.ts
  packages/cds-constructs/src/index.ts
Due: prettier --write, eslint --fix

deps: Bump dependencies.
  package.json
  packages/cds-constructs/package.json
  pnpm-lock.yaml
Due: prettier --write

deps: Bump dependencies. (#2)
  package.json
  packages/cds-constructs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Correct bucket policies.
  .cspell.json
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
Due: prettier --write, eslint --fix

feat: Add force object encryption policy to private bucket construct plus some new options.
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
Due: prettier --write, eslint --fix

feat: Update bucket terraform outputs (prefer arns).
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
Due: prettier --write, eslint --fix

test: Add a few s3 policies specs.
  packages/cds-constructs/src/aws/s3/s3-policies.spec.ts
Due: prettier --write, eslint --fix

wip: Add minimal bucket construct for a static website.
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
Due: prettier --write, eslint --fix

wip: Add routing rules configuration.
  packages/cds-constructs/.eslintrc.json
  packages/cds-constructs/rollup.config.ts
  packages/cds-constructs/src/aws/s3/s3-policies.spec.ts
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
Due: prettier --write, eslint --fix

wip: Expose indexes configuration.
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
Due: prettier --write, eslint --fix

wip: Add website bucket specs.
  packages/cds-constructs/src/aws/s3/s3-website-bucket.spec.ts
Due: prettier --write, eslint --fix

feat: Add minimal bucket construct for static websites. #3
  packages/cds-constructs/.eslintrc.json
  packages/cds-constructs/rollup.config.ts
  packages/cds-constructs/src/aws/s3/s3-policies.spec.ts
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
Due: prettier --write, eslint --fix

docs: Update README.md.
  .cspell.json
  README.md
Due: prettier --write

fix: Fix type exports.
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
  packages/cds-constructs/src/index.ts
Due: prettier --write, eslint --fix

feat: Add auto-archive lifecycle rule to the log bucket configuration.
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
Due: prettier --write, eslint --fix

feat: Add auto-archive lifecycle rule to the private log bucket configuration. (#4)
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
Due: prettier --write, eslint --fix

wip: Setup the cds-stacks package.
  .eslintrc.json
  package.json
  packages/cds-stacks/.gitignore
  packages/cds-stacks/.swcrc
  packages/cds-stacks/jest.config.mjs
  packages/cds-stacks/jest.setup.mjs
  packages/cds-stacks/package.json
  packages/cds-stacks/rollup.config.ts
  packages/cds-stacks/src/index.ts
  packages/cds-stacks/tsconfig.build.json
  packages/cds-stacks/tsconfig.json
  pnpm-lock.yaml
  types.d.ts
Due: prettier --write, eslint --fix

bootstrap: Setup the cds-stacks package. (#5)
  .eslintrc.json
  package.json
  packages/cds-stacks/.gitignore
  packages/cds-stacks/.swcrc
  packages/cds-stacks/jest.config.mjs
  packages/cds-stacks/jest.setup.mjs
  packages/cds-stacks/package.json
  packages/cds-stacks/rollup.config.ts
  packages/cds-stacks/src/index.ts
  packages/cds-stacks/tsconfig.build.json
  packages/cds-stacks/tsconfig.json
  pnpm-lock.yaml
  types.d.ts
Due: prettier --write, eslint --fix

wip: Remove CDS prefix from classes.
  packages/cds-constructs/src/aws/s3/s3-private-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.spec.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
  packages/cds-stacks/src/aws/terraform/index.ts
Due: prettier --write, eslint --fix

wip: Update CI configuration.
  .github/workflows/ci.yml
Due: none

wip: Refactor [skip ci].
  .cspell.json
  justfile
  package.json
  packages/cds-constructs/package.json
  packages/cds-constructs/src/aws/arn.spec.ts
  packages/cds-constructs/src/aws/arn.ts
  packages/cds-constructs/src/aws/s3/s3-log-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-policies.spec.ts
  packages/cds-constructs/src/aws/s3/s3-policies.ts
  packages/cds-constructs/src/aws/s3/s3-private-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-public-bucket.ts
  packages/cds-constructs/src/aws/s3/s3-website-bucket.ts
  packages/cds-constructs/src/aws/validation.spec.ts
  packages/cds-constructs/src/aws/validation.ts
  packages/cds-constructs/src/validation.spec.ts
  packages/cds-constructs/src/validation.ts
  packages/cds-stacks/package.json
  packages/cds-stacks/src/aws/terraform.ts
  packages/cds-stacks/src/aws/terraform/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
